[Desktop Entry]
Type=Application
Terminal=true
StartupNotify=true
Icon=printer.png
Name=Brother Install
Comment=Installation des drivers scanner et imprimante Brother
Exec=sudo bash /usr/local/bin/linux-brprinter-installer-2.2.0-1
Categories=Application
Keywords=imprimante;printer;brother
Name[fr_CH]=brother Install
