[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Categories=GNOME;GTK;
Exec=firefox http://blog.whyopencomputing.ch/de/support/
Name=Support_deutsch
Comment=Pointe vers la page web Support du site why 
Icon=/usr/lib/firefox/browser/chrome/icons/default/default64.png
Name[fr_CH]=Support_de
